# Ignorar application.properties
application.properties

# Ignorar HELP.md
HELP.md

# Ignorar diretório .gradle
.gradle

# Ignorar o diretório build/ e seus subdiretórios
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Ignorar os arquivos e diretórios relacionados ao STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Ignorar os arquivos e diretórios relacionados ao IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Ignorar os arquivos e diretórios relacionados ao NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.
